body,
.App {
  width: 100%;
  height: 100vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  margin-top: 40px;
  border-bottom: 3px solid rgb(171, 97, 228);
}
.header h1{
  margin: 0;
  text-align: center;
 
}
.header p{
  margin-top:0 ;
}

button {
  background: none;
  cursor: pointer;
}

button:hover {
  color: lightgreen;
}

.below_header{
  display: flex;
}


.sidebar  {
  width: 30%;
  height: 100vh;
  border-right: 3px solid rgb(171, 97, 228);
  margin-top: 70px;
}

.sidebar .hide{
  display: none;
}

.sidebarHeader{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 3px solid rgb(171, 97, 228);
}
.sidebarHeader button{
  font-size: 100px;
}
.sidebarHeader h1 {
  margin: 0;
}

.sidebarNotes {
  height: calc(100vh - 40px);
  overflow-y: scroll;
}
.individualNoteSidebar {
  padding: 25px;
  cursor: pointer;
  border-bottom: 3px solid rgb(171, 97, 228);
}
.individualNoteSidebarTitle {
  display: flex;
  justify-content: space-between;
}


.individualNoteSidebar p {
  margin: 10px 0;
}
.individualNoteSidebar small {
  display: block;
  color: #999;
  text-align: left;
}

.individualNoteSidebar:hover {
  background: #ddd;
}
.individualNoteSidebar.active,
.individualNoteSidebar.active small {
  background: #08c;
  color: white;
}

.mainApp {
  flex: 1;
  height: 100vh;
  margin-top: 77px;
}

.app-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

.noteEdit {
  height: 350px;
  overflow-y: scroll;
}

.noteEdit input,
textarea {
  border: 3px solid rgb(171, 97, 228);
  width: 80%;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.noteEdit input {
  height: 40px;
  font-size: 40px;
  border: none;
  padding-bottom: 7px;
  padding-top: 0px;
  margin-top: 0px;
  border-bottom: 3px solid rgb(171, 97, 228);
}

.note-header {
  justify-content: space-between;
  align-items: center;
  border: 3px solid rgb(171, 97, 228);
  margin-bottom: 10px;
  font-size: 25px;
}

.note-header input{
  font-size: 25px;
  border: none;
}
.metaData {
  flex-grow: 1;
  text-align: right;
}

.button{
  display: inline-block;
  color: black;
  height: 40px;
  border:none;
  width: 95px;
  border-bottom: 3px solid rgb(171, 97, 228);
}

.button:hover{
  background: rgb(171, 97, 228);
  color: white;
}

.time{
  height: 20px;
  color: black;
  border: transparent;
  padding-top: 10px;
}

.editing{
  border: none;
}

.typeStuff{
  border: none;
  padding-top: 0px;
}

#dateSelect{
  height: 10px;
  font-size: 20px;
  width: 250px;
  color: black;
}

.sidebarButton{
  cursor: pointer;
  border: none;
  padding-top: 5px;
}

#edit{
  height: 1000px;
}